<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="webStyle.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script>
        $(function(){
            $("#nav").load("nav.html");
        });
    </script>
</head>
<body>

<nav class="navbar navbar-inverse navbar-fixed-top" id="nav"></nav>

<div class="container-fluid content" style="background-color:#e3f4de;">

    <% if(state == "sucess")  { %>
    <div class="alert alert-success">
        <strong>Success!</strong> Images were queued for convertion !
    </div>
    <% } %>

    <% if(state == "err")  { %>
        <div class="alert alert-danger">
            <strong>Error!</strong> <%= err %>
        </div>
    <% } %>
</div>
</body>
</html>


